domjudge/domserver/www/frontend/frontend.wsdl

<definitions name="ProgAssessment"
          targetNamespace="http://domserver.fe.up.pt/domjudge/frontend/frontend.wsdl"
          xmlns:tns="http://domserver.fe.up.pt/domjudge/frontend/frontend.wsdl"
          xmlns:xsd='http://www.w3.org/2001/XMLSchema'
          xmlns:xsd1="http://domserver.fe.up.pt/domjudge/frontend/frontend.wsdl"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns="http://schemas.xmlsoap.org/wsdl/">


    <xsd:complexType name="ArrayOfstring">
      <xsd:complexContent>
        <xsd:restriction base="soapenc:Array">
          <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>


    <!-- ################### setupProgassessmentModule #####################-->

    <message name="setupProgassessmentModuleResponse">
        <part name="result" type="xsd:int" />
    </message>

    <!--####################### getLanguages ###############################-->

    <message name="getLanguagesResponse">
      <part name="result" type="ArrayOfstring"/>
    </message>

	<!--####################### getMetrics ###############################-->

    <message name="getMetricsResponse">
      <part name="result" type="ArrayOfstring"/>
    </message>

    <!--####################### getAllLanguagesInfo ###############################-->

    <message name="getAllLanguagesInfoResponse">
      <part name="result" type="ArrayOfstring"/>
    </message>

    <!--####################### addNewAssessment ########################-->

    <message name="addNewAssessmentRequest">
      <part name="id" type="xsd:int"/>
      <part name="name" type="xsd:string"/>
      <part name="timeLimit" type="xsd:int"/>
    </message>

    <message name="addNewAssessmentResponse">
      <part name="Result" type="xsd:int"/>
    </message>

    <!--####################### addNewAssessmentSpecial ########################-->

    <message name="addNewAssessmentSpecialRequest">
      <part name="id" type="xsd:int"/>
      <part name="name" type="xsd:string"/>
      <part name="timeLimit" type="xsd:int"/>
	  <part name="special" type="xsd:string"/>
    </message>

    <message name="addNewAssessmentSpecialResponse">
      <part name="Result" type="xsd:int"/>
    </message>

    <!--####################### removeAssessment ########################-->

    <message name="removeAssessmentRequest">
      <part name="id" type="xsd:int"/>
    </message>


    <!--####################### updateAssessment ########################-->

    <message name="updateAssessmentRequest">
      <part name="id" type="xsd:int"/>
      <part name="name" type="xsd:string"/>
      <part name="timeLimit" type="xsd:int"/>
      <part name="nTestCases" type="xsd:int"/>
    </message>

	<!--####################### updateAssessmentSpecial ########################-->

    <message name="updateAssessmentSpecialRequest">
      <part name="id" type="xsd:int"/>
      <part name="name" type="xsd:string"/>
      <part name="timeLimit" type="xsd:int"/>
      <part name="nTestCases" type="xsd:int"/>
	  <part name="special" type="xsd:string"/>
    </message>

    <!--####################### addTestCase ########################-->

    <message name="addTestCaseRequest">
      <part name="probid" type="xsd:string"/>
      <part name="input" type="xsd:string"/>
      <part name="output" type="xsd:string"/>
      <part name="id" type="xsd:int"/>
    </message>

    <message name="addTestCaseResponse">
      <part name="id" type="xsd:int"/>
    </message>

    <!--####################### removeTestCase ########################-->

    <message name="removeTestCaseRequest">
      <part name="id" type="xsd:int"/>
    </message>

    <!--####################### updateTestCase ########################-->

    <message name="updateTestCaseRequest">
      <part name="id" type="xsd:int"/>
      <part name="input" type="xsd:string"/>
      <part name="output" type="xsd:string"/>
    </message>

    <!--####################### addParticipant ########################-->

    <message name="addParticipantRequest">
      <part name="login" type="xsd:string"/>
      <part name="name" type="xsd:string"/>
    </message>

    <!--####################### participantExists ########################-->

    <message name="participantExistsRequest">
      <part name="login" type="xsd:string"/>
    </message>

    <message name="participantExistsResponse">
      <part name="result" type="xsd:int"/>
    </message>

    <!--####################### addSubmission ########################-->

    <message name="addSubmissionRequest">
      <part name="participantLogin" type="xsd:string"/>
      <part name="assessmentId" type="xsd:int"/>
      <part name="testCasesIds" type="xsd:Array"/>
      <part name="language" type="xsd:string"/>
      <part name="sourceCode" type="xsd:string"/>
    </message>

    <message name="addSubmissionResponse">
      <part name="ids" type="xsd:Array"/>
    </message>

	<!--####################### addCompileSubmissionSpecial ########################-->

    <message name="addCompileSubmissionSpecialRequest">
      <part name="participantLogin" type="xsd:string"/>
      <part name="assessmentId" type="xsd:int"/>
      <part name="testCasesIds" type="xsd:Array"/>
      <part name="language" type="xsd:string"/>
      <part name="sourceCode" type="xsd:string"/>
    </message>

    <message name="addCompileSubmissionSpecialResponse">
      <part name="id" type="xsd:int"/>
    </message>

    <!--####################### addCompileSubmission ########################-->

    <message name="addCompileSubmissionRequest">
      <part name="participantLogin" type="xsd:string"/>
      <part name="assessmentId" type="xsd:int"/>
      <part name="language" type="xsd:string"/>
      <part name="sourceCode" type="xsd:string"/>
    </message>

    <message name="addCompileSubmissionResponse">
      <part name="id" type="xsd:int"/>
    </message>

    <!--####################### getSubmissionResult ########################-->

    <message name="getSubmissionResultRequest">
      <part name="id" type="xsd:int"/>
    </message>

    <message name="getSubmissionResultResponse">
      <part name="result" type="ArrayOfstring"/>
    </message>

    <!--############################ Port #################################-->

    <portType name="ProgAssessmentPortType">

      <operation name="setupProgassessmentModule">
        <output message="setupProgassessmentModuleResponse"/>
      </operation>

      <operation name="getLanguages">
        <output message="getLanguagesResponse"/>
      </operation>

	  <operation name="getMetrics">
        <output message="getMetricsResponse"/>
      </operation>

      <operation name="getAllLanguagesInfo">
        <output message="getAllLanguagesInfoResponse"/>
      </operation>

      <operation name="addNewAssessment">
        <input message="addNewAssessmentRequest"/>
        <output message="addNewAssessmentResponse"/>
      </operation>

	  <operation name="addNewAssessmentSpecial">
	    <input message="addNewAssessmentSpecialRequest"/>
	    <output message="addNewAssessmentSpecialResponse"/>
	  </operation>

       <operation name="removeAssessment">
         <input message="removeAssessmentRequest"/>
       </operation>

       <operation name="updateAssessment">
         <input message="updateAssessmentRequest"/>
       </operation>

	   <operation name="updateAssessmentSpecial">
         <input message="updateAssessmentSpecialRequest"/>
       </operation>

       <operation name="addTestCase">
        <input message="addTestCaseRequest"/>
        <output message="addTestCaseResponse"/>
      </operation>

      <operation name="removeTestCase">
        <input message="removeTestCaseRequest"/>
      </operation>

      <operation name="updateTestCase">
        <input message="updateTestCaseRequest"/>
      </operation>

      <operation name="addParticipant">
        <input message="addParticipantRequest"/>
      </operation>

      <operation name="participantExists">
        <input message="participantExistsRequest"/>
        <output message="participantExistsResponse"/>
      </operation>

      <operation name="addSubmission">
        <input message="addSubmissionRequest"/>
        <output message="addSubmissionResponse"/>
      </operation>

	  <operation name="addCompileSubmissionSpecial">
        <input message="addCompileSubmissionSpecialRequest"/>
        <output message="addCompileSubmissionSpecialResponse"/>
      </operation>

      <operation name="addCompileSubmission">
        <input message="addCompileSubmissionRequest"/>
        <output message="addCompileSubmissionResponse"/>
      </operation>

      <operation name="getSubmissionResult">
        <input message="getSubmissionResultRequest"/>
        <output message="getSubmissionResultResponse"/>
      </operation>
    </portType>



    <!--########################## Bindings ##############################-->

    <binding name="ProgAssessmentBinding" type="ProgAssessmentPortType">
      <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

      <operation name="setupProgassessmentModule">
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='getLanguages'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <output> <soap:body use="literal"/> </output>
      </operation>

	  <operation name='getMetrics'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='getAllLanguagesInfo'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='addNewAssessment'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

	  <operation name='addNewAssessmentSpecial'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='removeAssessment'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

      <operation name='updateAssessment'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

	  <operation name='updateAssessmentSpecial'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

      <operation name='addTestCase'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='removeTestCase'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

      <operation name='updateTestCase'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

      <operation name='addParticipant'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
      </operation>

      <operation name='participantExists'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='addSubmission'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

	  <operation name='addCompileSubmissionSpecial'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>

      <operation name='addCompileSubmission'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>
      
      <operation name='getSubmissionResult'>
        <soap:operation soapAction="http://domserver.fe.up.pt/domjudge/frontend"/>
        <input> <soap:body use="literal"/> </input>
        <output> <soap:body use="literal"/> </output>
      </operation>
    </binding>

    <service name='ProgAssessmentService'>
      <port name='ProgAssessmentPort' binding='ProgAssessmentBinding'>
        <soap:address location='http://domserver.fe.up.pt/domjudge/frontend/frontend.php'/>
      </port>
    </service>

</definitions>